<!DOCTYPE html>
<html>
<head>
  <title>Project</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <!-- <% if @user_logged_in %>
      You are logged in as <%= @user_logged_in.name%>
      <a href="/users/logout">Logout</a>
    <% else %>
      You are not logged in
      <a href="/users/login">Log in</a>
    <% end %> -->
      <%= session["user_id"]%>
  </header>
<%= yield %>

</body>
</html>
